<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Success Stories</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Our Success Stories</h1>
    </header>
    <p>Please visit our <a href="/stories">Success Stories</a> page.</p>
  </div>
</body>
</html>
